body {
	background-image: url("../images/grey_wash_wall.png");
	font-family: 'Amatic SC', cursive;
	color: white;
	text-align: center;
	font-size: 100px;
}

.choices {
	font-size: 50px;
}

img {
	width: 200px;
}

.status {
	font-size: 50px;
}

#enterText {
	font-size: 50px;
}

#name {
	color: black;
	font-size: 50px;
}

#submit {
	color: black;
	font-size: 50px;
}

#chatContent {
	height: 700px;
	border: 3px white solid;
	font-size: 30px;
	text-align: left;
	padding: 10px;
	overflow-x: visible;
	overflow-y: scroll;
}

#chatInput {
	font-size: 30px;
	width: 100%;
	height: 60px;
	color: black;
	overflow-x: visible;
	overflow-y: scroll;
}

#chatSubmit {
	color: black;
	height: 50px;
	font-size: 40px;
}
#hidden1, #hidden2, #hidden3, #hidden4, #numPlayers {
	visibility: hidden;
}